@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
#blog {
    background-color: #FDFDFD;
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#blog #b-header {
    background-color: #0E1E25;
}

#blog #b-header .b-title {
    font-family: 'Great Vibes', cursive;
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

#blog #isi {
    border: 1px solid #eaeaeaff;
    border-radius: 20px;
    overflow: hidden;
    max-width: 100vw;
}

#blog #isi h1 {
    border-bottom: 2px solid #eaeaeaff;
    font-size: 36px;
    padding-bottom: 5px;
}

#blog #isi h2 {
    font-size: 28px;
}

#blog #isi h3 {
    font-size: 20px;
}

@media (max-width:756px) {
    #blog #isi h1 {
        font-size: 24px;
    }
    #blog #isi p {
        font-size: 12px
    }
}