@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
.navbar {
    z-index: 1;
}

.jumbotrongold2 {
    color: rgba(255, 255, 255, 1);
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url('../assets/img/gold2/head1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#gold2 .poppins {
    font-family: 'Poppins', sans-serif;
}

#gold2 .font18 {
    font-size: 18px;
}

.jumbotron p {
    font-size: 40px;
}

.modal {
    position: absolute;
    color: '#ffffff';
    z-index: 2;
}

.bg-main {
    background-color: #d3b78f!important;
}

html,
#gold2,
header {
    color: white;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    background-color: #d3b78f;
    scroll-behavior: smooth;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.1s linear;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#sectiongold21 button {
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    background-color: transparent;
    transition-duration: 0.4s;
    margin-top: 100px;
}

#sectiongold21 button:hover {
    background-color: #fff;
    color: transparent
}

#sectiongold21 h1 {
    font-size: 1rem;
    margin-bottom: 3vh;
}

#sectiongold21 .path,
#sectiongold24 .path {
    position: absolute;
    width: 100vw;
    bottom: -2px;
    left: 0;
}

#sectiongold21 h2 {
    font-size: 0.8rem;
    margin-bottom: 5vh;
}

#sectiongold21 .position {
    margin-top: 7vh;
}

#sectiongold21 .nama {
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    line-height: 1;
}

#sectiongold21 .button {
    margin-top: 100px;
}

#sectiongold24 {
    position: relative;
    max-width: 100vw;
}

#sectiongold24 p {
    font-size: 18px;
}

#sectiongold25 {
    background-color: white;
    max-width: 100vw;
    padding: 20px
}

#sectiongold25 h2 {
    font-size: 24px;
    font-weight: 900;
    transition: 0.5s;
}

#sectiongold25 h3 {
    font-size: 18px;
    font-weight: 600;
}

#sectiongold25 .tab {
    border-left: 3px solid grey;
    transition: 0.5s;
    color: #364146;
}

#sectiongold25 .tab:hover,
#sectiongold25 .tab.clicked {
    border-left: 3px solid #364146;
    background-color: rgb(224, 224, 224);
}

#sectiongold25 .tab:hover h2,
#sectiongold25 .tab.clicked h2 {
    color: #d3b78f
}

#sectiongold25 .tab:hover h3,
#sectiongold25 .tab.clicked h3 {
    color: black
}

#sectiongold25 .tab img {
    transition: 1s;
}

#mempelai {
    padding-top: 50px;
}

#mempelai .opening {
    color: black;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 50px;
}

#mempelai .kotak {
    background-color: rgb(187, 161, 125);
    border-radius: 0.5rem;
    padding: 20px;
}

#mempelai h1,
#sectiongold26 h1 {
    font-family: 'Tinos', serif;
    color: #77411a;
    line-height: 2;
    font-size: 1rem;
}

#memplelai img {
    border-radius: 20px;
}

#sectiongold25 .title5 {
    font-family: 'Tinos', serif;
    color: #77411a;
    line-height: 2;
    font-size: 3rem;
    text-align: center;
}

#sectiongold25 #mempelai {
    background-color: #d3b78f;
    width: 100vw
}

#mempelai p {
    font-style: italic;
    font-size: 0.75rem;
    font-family: 'Tinos', serif;
}

#sectiongold26 .kotak {
    background-color: #9aaaa3ff;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 20px
}

#sectiongold26 h2 {
    font-family: 'Tinos', serif;
    color: white
}

#sectiongold26 p {
    font-family: 'Tinos', serif;
    color: white
}

#sectiongold27 h1 {
    font-family: 'Tinos', serif;
    color: #77411a;
    line-height: 2;
    font-size: 1.5rem;
}

#sectiongold27 .katok {
    background-color: white !important;
    border-radius: 10px;
    padding: 20px;
    margin: 20px
}

#sectiongold27 .b-blue.katok {
    background-color: #0F233D!important;
}

#sectiongold27 .dot {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
}

#sectiongold27 p {
    font-family: 'Tinos', serif;
    color: #77411a;
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0
}

#sectiongold27 .bold {
    font-weight: 600;
}

#sectiongold27 .italic {
    font-style: italic;
}

#sectiongold27 .red {
    color: white;
}

#sectiongold27 .button {
    background-color: #d09340;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Tinos', serif;
    color: white;
    text-align: center
}

#sectiongold27 .smaller {
    font-size: 0.75rem
}

#sectiongold27 .kotak {
    background-color: #77411a;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px
}

#sectiongold27 .item {
    width: 20%;
    color: white
}

#sectiongold27 .item span {
    font-size: 0.7rem;
}

#sectiongold28 {
    position: relative;
    max-width: 100vw;
}

#sectiongold28 .kotak {
    background-color: white;
    border-radius: 10px;
}

#sectiongold28 h1,
#sectiongold28 label {
    font-size: 1.5rem;
    color: #77411a;
    padding: 10px;
    font-style: italic;
    font-family: 'Tinos', serif;
}

#sectiongold28 label {
    font-size: 1rem;
    font-style: normal;
}

input {
    border: none;
    background-color: rgba(211, 183, 143, 0.3);
    border-radius: 5px;
    font-family: 'Tinos', serif!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 5px
}

input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=radio]:not(old)+label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid #77411a;
    border-radius: 0.25em;
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}

input[type=radio]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type=radio]:not(old):checked+label>span>span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid #77411a;
    border-radius: 0.125em;
    background: #77411a;
    background-image: #77411a
}

.bigger {
    padding-top: 50px;
    padding-bottom: 50px
}

#sectiongold28 button {
    border: none;
    border-radius: 5px;
    background-color: #77411a;
    color: white;
    font-family: 'Tinos', serif!important;
    margin-bottom: 10px;
    margin-top: 10px
}

#sectiongold28 h2 {
    padding: 50px;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

#sectiongold29 {
    font-family: 'Tinos', serif!important;
    color: #77411a;
    padding: 20px;
    background-color: white;
    max-width: 100vw;
}

#sectiongold29 h1 {
    font-size: 1.5rem;
    margin-top: 10px
}

#sectiongold29 h2 {
    font-style: italic;
}

#sectiongold210 {
    max-width: 100vw;
    padding: 0;
    margin: 0px;
}

#sectiongold210 img {
    margin-bottom: -2px;
}

@media (max-width:757px) {}

@media (min-width:756px) {
    #sectiongold21 .nama {
        font-size: 3.5rem!important;
    }
    #sectiongold21 h1 {
        font-size: 1.5rem!important;
    }
    #sectiongold21 button {
        margin-top: 50px;
    }
    #sectiongold22 .title {
        font-size: 4.5rem;
    }
    #sectiongold22 h1 {
        font-size: 1.75rem!important;
    }
    #sectiongold22 p {
        font-size: 1.5rem!important;
    }
    #sectiongold23 iframe {
        min-height: 480px!important;
    }
    #sectiongold27 .item {
        font-size: 1.75rem!important;
    }
    #sectiongold25 {
        padding: 75px
    }
}