    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');
    #jefri {
        text-align: center;
        max-width: 100vw;
        overflow: hidden;
    }
    
    #jefri .bg-white {
        background-color: white;
    }
    
    #jefri .bg-green {
        background-color: #919191;
    }
    
    #jefri .c-main {
        color: #D87F01!important
    }
    
    #jefri .c-white {
        color: white
    }
    
    #jefri .c-grey {
        color: #444444
    }
    
    #jefri .s-bold {
        font-weight: 900;
    }
    
    #jefri .italic {
        font-style: italic;
    }
    
    #jefri .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
    }
    
    #jefri .larger {
        font-size: 72px;
    }
    
    #jefri .f-mid {
        font-size: 48px!important;
    }
    
    #jefri .show {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.1s linear;
    }
    
    #jefri .roboto-slab {
        font-family: 'Roboto Slab', serif;
    }
    
    #jefri .sansita {
        font-family: 'Sansita Swashed', cursive;
    }
    
    #jefri .tinos {
        font-family: 'Tinos', serif;
    }
    
    #jefri .lobster {
        font-family: 'Lobster', cursive;
    }
    
    #jefri .sacramento {
        font-family: 'Sacramento', cursive;
    }
    
    #jefri .garamond {
        font-family: 'EB Garamond', serif;
        font-style: italic;
    }
    
    #jefri .poppins {
        font-family: 'Poppins', sans-serif;
    }
    
    #jefri .path {
        bottom: -2px;
        left: 0;
        position: absolute;
        margin: 0;
        padding: 0;
        transition: 0.5s;
    }
    
    #jefri #g3-header {
        color: rgba(255, 255, 255, 1);
        background-position: center;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%), url('../assets/img/adnan/head.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }
    
    #g3-header h1 {
        font-size: 48px;
    }
    
    #g3-header h2 {
        font-size: 20px;
    }
    
    #g3-header .button {
        font-size: 20px;
        border: 2px solid white;
        margin: 30px;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s
    }
    
    #g3-header .button:hover {
        background-color: white;
        color: black;
        font-weight: 600
    }
    
    #jefri .item {
        width: 20%;
        font-size: 1rem;
    }
    
    #jefri .item span {
        font-size: 0.8rem;
    }
    
    #jefri .dot {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 1rem;
    }
    
    #jefri #top p,
    #jefri #pasangan p {
        font-size: 18px;
    }
    
    #jefri #save h1 {
        font-size: 48px;
    }
    
    #jefri #save .button {
        color: white;
        background-color: #D87F01;
    }
    
    #jefri .jefri input {
        background-color: rgba(145, 145, 145, 0.3)!important;
        color: black!important
    }
    
    #jefri #save .border-pink {
        border: 2px solid #D87F01;
        border-radius: 10px;
        margin-top: 20px;
        font-size: 12px;
    }
    
    #jefri #form h1 {
        font-size: 32px;
    }
    
    #jefri #form .button {
        background-color: #D87F01;
        padding: 5px;
        color: white;
        border: none
    }
    
    #jefri #footer h1 {
        font-size: 18px;
    }
    
    #jefri #footer h2 {
        font-size: 20px;
    }
    
    #jefri #path .mx {
        margin-bottom: -2px;
    }
    
    @media (min-width:756px) {
        #g3-header {
            padding-top: 5%;
        }
        #jefri .item {
            font-size: 2rem;
        }
        #jefri .item span {
            font-size: 1.5 rem;
        }
        #g3-header h1 {
            font-size: 56px;
        }
        #jefri #form h1 {
            font-size: 56px;
            padding-top: 20px;
        }
        #jefri iframe {
            height: 480px;
        }
    }