$dentamain:#F5CD4F;
$cbiasa: #171717;
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@400;700&family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@font-face {
    font-family: 'Adine-Kirnberg-Alternate';
    src: url('Adine-Kirnberg-Alternate.ttf.woff') format('woff'), url('Adine-Kirnberg-Alternate.ttf.svg#Adine-Kirnberg-Alternate') format('svg'), url('Adine-Kirnberg-Alternate.ttf.eot'), url('Adine-Kirnberg-Alternate.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Artesana12';
    src: url('Artesana12.ttf.woff') format('woff'), url('Artesana12.ttf.svg#Artesana12') format('svg'), url('Artesana12.ttf.eot'), url('Artesana12.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosemary';
    src: url('Rosemary.ttf.woff') format('woff'), url('Rosemary.ttf.eot'), url('Rosemary.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alex';
    src: url('AlexBrush-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

#top.reza-bg {
    background: rgba(0, 0, 0, 0) url("https://demo.cloudimg.io/v7/https://i.pinimg.com/originals/c6/ce/59/c6ce59ea7374a53ae7a3766c087b21ac.jpg?force_format=webp&q=95&gravity=auto&func=fit&bg_img_fit=1&bg_opacity=1&w=800&h=520") no-repeat fixed 0 0 / cover;
    min-height: 200px;
}

@media(max-width: 900px) {
    #top.reza-bg {
        background: rgba(0, 0, 0, 0) url("https://i.pinimg.com/originals/c6/ce/59/c6ce59ea7374a53ae7a3766c087b21ac.jpg") no-repeat fixed 0 0 / cover
    }
}

.bgwhite {
    input.halo {
        background-color: white!important;
    }
}

.nicone {
    font-family: 'Niconne', cursive!important;
}

.peri {
    font-family: 'Parisienne', cursive;
}

.alex {
    font-family: 'Alex Brush', cursive;
}

.allura {
    font-family: 'Allura', cursive;
}

.butterfly {
    font-family: 'Butterfly Kids', cursive;
}

#sectiongold55.aulia .kotak h1.rev1 {
    font-size: 1.3rem;
}

h1.tinos {
    font-family: 'Tinos', serif
}

#sectiongold56 p.amatic {
    font-family: 'Amatic SC', cursive;
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: grey #9e9d9dff;
    scrollbar-width: 5px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mapouter {
    position: relative;
    text-align: center;
    height: 300px;
    width: 400px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 300px;
    width: 400px;
}

@media(max-width:900px) {
    #sectiongold55.aulia .kotak h1.rev1 {
        font-size: 1rem;
    }
}

#story {
    .box {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 1rem;
    }
    h1 {
        font-size: 24px;
    }
    p {
        padding-top: 1rem;
        font-size: 16px;
        text-align: justify;
    }
    .judul {
        font-family: "Marck Script", cursive;
        font-size: 48px;
        color: $cbiasa;
        font-weight: 600;
    }
    .inject {
        background-color: white;
        transition: 1s;
        .row {
            border: 2px solid grey;
        }
        h1 {
            font-size: 24px;
        }
        @media(max-width:900px) {
            h1 {
                font-size: 20px;
            }
        }
        p {
            padding-top: 1rem;
            font-size: 16px;
            text-align: justify;
        }
        img {
            width: 40px;
            height: 40px
        }
    }
}

#story1 {
    .judul {
        font-family: 'Sacramento', cursive;
    }
}

#health {
    p {
        font-size: 16px;
    }
}

#formradio {
    padding-left: 40px;
    label {
        padding-top: 0px!important;
    }
    body {
        align-items: center;
        background-color: #CDDC39;
        color: #827717;
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        line-height: 1.5em;
        height: 100vh;
        margin: 0;
        justify-content: center;
    }
    .custom_radio {
        margin: 20px;
        input[type="radio"] {
            display: none;
            + {
                label {
                    position: relative;
                    display: inline-block;
                    padding-left: 1.5em;
                    color: rgb(185, 146, 37);
                    cursor: pointer;
                    line-height: 1em;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1em;
                        height: 1em;
                        text-align: center;
                        color: white;
                        font-family: Times;
                        border-radius: 50%;
                        -webkit-transition: all .3s ease;
                        transition: all .3s ease;
                        -webkit-transition: all .3s ease;
                        transition: all .3s ease;
                        border: 1px solid rgb(185, 146, 37)
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1em;
                        height: 1em;
                        text-align: center;
                        color: white;
                        font-family: Times;
                        border-radius: 50%;
                        -webkit-transition: all .3s ease;
                        transition: all .3s ease;
                    }
                    &:hover {
                        &:before {
                            -webkit-transition: all .3s ease;
                            transition: all .3s ease;
                            box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
                        }
                    }
                }
            }
            &:checked {
                + {
                    label {
                        &:before {
                            -webkit-transition: all .3s ease;
                            transition: all .3s ease;
                            box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em rgb(185, 146, 37);
                        }
                    }
                }
            }
        }
    }
    p {
        font-size: 16px;
        text-align: center;
    }
}

#dinny {
    .opa {
        opacity: 0;
    }
    @media(max-width:900px) {
        .opa {
            opacity: 1;
        }
    }
}

#denta {
    .ortu p {
        font-size: 18px!important;
    }
}

#g3-header {
    .namanovi {
        h1 {
            font-size: 96px;
            font-family: "Marck Script", cursive;
        }
    }
}

#sectiongold55.aulia {
    .kotak {
        h1 {
            font-family: 'Caveat', cursive;
        }
        h1.nama-mempelai {
            font-family: 'Tinos', serif
        }
        h1.haviland {
            font-family: 'Mr De Haviland', cursive;
        }
    }
}

.aulia-wedding {
    .button {
        background-color: white;
        border-radius: 10px;
        color: #69785b
    }
    h1 {
        font-family: 'Caveat', cursive;
        font-size: 72px;
        color: white;
    }
    h1.haviland {
        font-family: 'Mr De Haviland', cursive;
    }
    p {
        color: white;
        font-size: 20px;
    }
}

h1.caveat {
    font-family: 'Caveat', cursive;
    ;
}

#name-ghea {
    font-family: 'Tinos', serif;
    color: white;
    h1 {
        width: 100%;
        text-align: center;
        font-size: 72px;
    }
    h2 {
        width: 100%;
        text-align: center
    }
    p {
        width: 100%;
        text-align: center
    }
    input {
        font-size: 16px;
    }
    @media(max-width: 900px) {
        h1 {
            font-size: 1.75rem;
        }
        h2 {
            font-size: 1.2rem;
            line-height: 1.5;
        }
    }
}

.mirror {
    display: inline-block;
    font-size: 30px;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.flip180 {
    transform: rotate(180deg)
}

.flip180-m {
    transform: rotate(180deg) scaleX(-1)
}

#sectiongold55.putut-name {
    h1 {
        font-size: 60px
    }
    h1.dan {
        font-size: 200px;
        line-height: 0.5;
    }
    @media(max-width: 900px) {
        h1 {
            font-size: 24px
        }
        h1.dan {
            font-size: 100px;
        }
    }
}

.bg-image {
    background-size: 100% auto
}

@media(max-width:900px) {
    .bg-image {
        background-size: auto 100%
    }
}

#g3-header.serina {
    background-image: url('https://iili.io/FPdfKN.jpg')
}

@media(max-width:900px) {
    #g3-header.serina {
        background-image: url('https://demo.cloudimg.io/v7/https://iili.io/FPdfKN.jpg/?func=crop&w=718&h=718&gravity=east')
    }
    .reza {
        height: 400px;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }
    }
}

#story-reni.container {
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
    }
    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #c7c7c7;
        left: 50%;
        margin-left: -1.5px;
    }
    .timeline>li {
        margin-bottom: 20px;
        position: relative;
    }
    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }
    .timeline>li:after {
        clear: both;
    }
    .timeline>li:before,
    .timeline>li:after {
        content: " ";
        display: table;
    }
    .timeline>li:after {
        clear: both;
    }
    .timeline>li>.timeline-panel {
        // width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }
    .timeline>li>.timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid grey;
        border-right: 0 solid grey;
        border-bottom: 15px solid transparent;
        content: " ";
    }
    .timeline>li>.timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }
    .timeline>li>.timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
    }
    .timeline>li.timeline-inverted>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    .timeline>li.timeline-inverted>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline-badge.primary {
        background-color: #2e6da4 !important;
    }
    .timeline-badge.success {
        background-color: #3f903f !important;
    }
    .timeline-badge.warning {
        background-color: #f0ad4e !important;
    }
    .timeline-badge.danger {
        background-color: #d9534f !important;
    }
    .timeline-badge.info {
        background-color: #5bc0de !important;
    }
    .timeline-title {
        margin-top: 0;
        color: inherit;
    }
    .timeline-body>p,
    .timeline-body>ul {
        margin-bottom: 0;
    }
    .timeline-body>p+p {
        margin-top: 5px;
    }
}