@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
.navbar {
    z-index: 1;
}

.fmark {
    font-family: 'Marck Script', cursive;
}

.jumbotrongold5 {
    color: rgba(255, 255, 255, 1);
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%), url('https://images.unsplash.com/flagged/photo-1553102675-83e08729e94c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.jumbotron p {
    font-size: 40px;
}

.modal {
    position: absolute;
    color: '#ffffff';
    z-index: 2;
}

html,
#gold5,
header,
.title {
    color: #9e9d9dff;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    background-color: #e0ebe6ff;
    scroll-behavior: smooth;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#sectiongold51 button {
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    padding: 10px;
    background-color: transparent;
    transition-duration: 0.4s;
    margin-top: 100px;
}

#sectiongold51 button:hover {
    background-color: #fff;
    color: transparent
}

#sectiongold51 h1 {
    font-size: 1rem;
    margin-bottom: 5vh;
}

#sectiongold51 .position {
    margin-top: 10vh;
}

#sectiongold51 .nama {
    font-size: 3rem;
    font-family: 'Sacramento', cursive;
    line-height: 1;
}

#sectiongold51 .button {
    margin-top: 100px;
}

#sectiongold52 h1 {
    font-size: 1.2rem!important;
}

#sectiongold52 .main {
    padding-top: 4vh!important;
    padding-bottom: 4vh!important;
}

#sectiongold52 .title {
    font-family: 'Tinos', serif;
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 3vh;
}

#sectiongold52 p {
    font-size: 1rem;
}

#sectiongold55 .kotak {
    background-color: white;
    border-radius: 0.5rem;
    padding: 20px;
}

#sectiongold55 h1,
#sectiongold56 h1 {
    font-family: 'Tinos', serif;
    color: #455b51ff;
    line-height: 2;
    font-size: 1.5rem;
}

#sectiongold55 img {
    border-radius: 20px;
}

#sectiongold55 p {
    font-style: italic;
    font-size: 0.75rem;
    font-family: 'Tinos', serif;
}

#sectiongold56 .kotak {
    background-color: #9aaaa3ff;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 20px
}

#sectiongold56 h2 {
    font-family: 'Tinos', serif;
    color: white
}

#sectiongold56 p {
    font-family: 'Tinos', serif;
    color: white
}

#sectiongold57 h1 {
    font-family: 'Tinos', serif;
    color: #455b51ff;
    line-height: 2;
    font-size: 1.5rem;
}

#sectiongold57 .dot {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 2rem;
}

#sectiongold57 p {
    font-family: 'Tinos', serif;
    color: #455b51ff;
    font-size: 1rem;
    padding: 0;
    margin-bottom: 0
}

#sectiongold57 .bold {
    font-weight: 600;
}

#sectiongold57 .italic {
    font-style: italic;
}

#sectiongold57 .red {
    color: #cf2a2aff;
}

#sectiongold57 .button {
    background-color: #455b51ff;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Tinos', serif;
    color: white;
    text-align: center
}

#sectiongold57 .smaller {
    font-size: 0.75rem
}

#sectiongold57 .kotak {
    background-color: #455b51ff;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px
}

#sectiongold57 .item {
    width: 20%;
    color: white
}

#sectiongold57 .item span {
    font-size: 0.7rem;
}

#sectiongold58 .kotak {
    background-color: white;
    border-radius: 10px;
}

#sectiongold58 h1,
#sectiongold58 label {
    font-size: 1.5rem;
    color: #455b51ff;
    padding: 10px;
    font-style: italic;
    font-family: 'Tinos', serif;
}

#sectiongold58 label {
    font-size: 1rem;
    font-style: normal;
}

input {
    border: none;
    background-color: #dcdcdcff;
    border-radius: 5px;
    font-family: 'Tinos', serif!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    padding: 5px
}

input[type=radio]:not(old) {
    width: 2em;
    margin: 0;
    padding: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=radio]:not(old)+label {
    display: inline-block;
    margin-left: -2em;
    line-height: 1.5em;
}

input[type=radio]:not(old)+label>span {
    display: inline-block;
    width: 0.875em;
    height: 0.875em;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border: 0.0625em solid #455b51ff;
    border-radius: 0.25em;
    background: rgb(224, 224, 224);
    background-image: -moz-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -ms-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -o-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: -webkit-linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    background-image: linear-gradient(rgb(240, 240, 240), rgb(224, 224, 224));
    vertical-align: bottom;
}

input[type=radio]:not(old):checked+label>span {
    background-image: -moz-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -o-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: -webkit-linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
    background-image: linear-gradient(rgb(224, 224, 224), rgb(240, 240, 240));
}

input[type=radio]:not(old):checked+label>span>span {
    display: block;
    width: 0.5em;
    height: 0.5em;
    margin: 0.125em;
    border: 0.0625em solid #455b51ff;
    border-radius: 0.125em;
    background: #455b51ff;
    background-image: #455b51ff;
}

.bigger {
    padding-top: 50px;
    padding-bottom: 50px
}

#sectiongold58 button {
    border: none;
    border-radius: 5px;
    background-color: #455b51ff;
    color: white;
    font-family: 'Tinos', serif!important;
    margin-bottom: 10px;
    margin-top: 10px
}

#sectiongold59 {
    font-family: 'Tinos', serif!important;
    color: #455b51ff;
    padding: 20px
}

#sectiongold59 h1 {
    font-size: 1.5rem;
    margin-top: 10px
}

#sectiongold59 h2 {
    font-style: italic;
}

@media (max-width:900px) {}

@media (min-width:900px) {
    #sectiongold51 .nama {
        font-size: 5rem!important;
    }
    #sectiongold51 h1 {
        font-size: 1.5rem!important;
    }
    #sectiongold51 button {
        margin-top: 50px;
    }
    #sectiongold52 .title {
        font-size: 4.5rem;
    }
    #sectiongold52 h1 {
        font-size: 1.75rem!important;
    }
    #sectiongold52 p {
        font-size: 1.5rem!important;
    }
    #sectiongold53 iframe {
        min-height: 480px!important;
    }
    #sectiongold57 .item {
        font-size: 1.75rem!important;
    }
}


/* DINNY */

.dinny .fs12 {
    font-size: 12px;
}

.dinny .fs16 {
    font-size: 16px;
}

.dinny .fs20 {
    font-size: 20px;
}

.dinny .fs24 {
    font-size: 24px;
}

.dinny .fs36 {
    font-size: 36px;
}

.dinny .cblack {
    color: rgb(38, 38, 38)
}

.dinny .fontmark {
    font-family: 'Marck Script', cursive;
}

.dinny .cmain {}

@media(min-width:900px) {
    .dinny .fs12 {
        font-size: 14px;
    }
    .dinny .fs16 {
        font-size: 20px;
    }
    .dinny .fs20 {
        font-size: 28px;
    }
    .dinny .fs24 {
        font-size: 30px;
    }
    .dinny .fs36 {
        font-size: 38px;
    }
}

.trsnone {
    top: -1000px;
    position: absolute;
    opacity: 0;
}

.trs {
    position: static;
    opacity: 1;
    transition: opacity 2s linear;
}